.container{
    width: 480px;
    border: 1px solid red;
    /*display: inline-grid;*/
    /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;*/
    display: flex;
    flex-wrap: wrap;
}

.grid{
    background-color: lightgray; 
    /*display: inline-block;*/
    /*float: left;*/
}