.container{
    width: 512px;
    display: flex;
    flex-wrap: wrap;
}

.grid{
    height: 30px;
    width: 30px;
    border: 1px solid red;

    
    /*display: inline-block;*/
    /*float: left;*/
}